# 기초 머신러닝 과제
## 신용카드 사기 탐지

1. 데이터 로드 및 기본 탐색

In [52]:
import pandas as pd
df = pd.read_csv('creditcard.csv')

In [53]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [55]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.175161e-15,3.384974e-16,-1.379537e-15,2.094852e-15,1.021879e-15,1.494498e-15,-5.620335e-16,1.149614e-16,-2.414189e-15,...,1.628620e-16,-3.576577e-16,2.618565e-16,4.473914e-15,5.109395e-16,1.686100e-15,-3.661401e-16,-1.227452e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [56]:
print(df['Class'].value_counts())
df['Class'].value_counts(normalize=True)

Class
0    284315
1       492
Name: count, dtype: int64

Class
0    0.998273
1    0.001727
Name: proportion, dtype: float64

2. 샘플링

In [57]:
df_sagi = df[df['Class'] == 1]
df_jungsang = df[df['Class'] == 0].sample(n=10000, random_state=42)
df = pd.concat([df_sagi, df_jungsang], axis=0).reset_index(drop=True)
print(df['Class'].value_counts())
df['Class'].value_counts(normalize=True)

Class
0    10000
1      492
Name: count, dtype: int64

Class
0    0.953107
1    0.046893
Name: proportion, dtype: float64

3. 데이터 전처리

In [58]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['Amount_Scaled'] = scaler.fit_transform(df[['Amount']])
df = df.drop(columns=['Amount'])
X = df.drop(columns=['Class'])
y = df['Class']

print(X.head())
print(y.head())

     Time        V1        V2        V3        V4        V5        V6  \
0   406.0 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
1   472.0 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
2  4462.0 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788
3  6986.0 -4.397974  1.358367 -2.592844  2.679787 -1.128131 -1.706536
4  7519.0  1.234235  3.019740 -4.304597  4.732795  3.624201 -1.357746

         V7        V8        V9  ...       V20       V21       V22       V23  \
0 -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049 -0.465211
1  0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477  1.375966
2  0.562320 -0.399147 -0.238253  ... -0.430022 -0.294166 -0.932391  0.172726
3 -3.496197 -0.248778 -0.247768  ... -0.171608  0.573574  0.176968 -0.436207
4  1.713445 -0.496358 -1.282858  ...  0.009061 -0.379068 -0.704181 -0.656805

        V24       V25       V26       V27       V28  Amount_Scaled
0  0.320198  0.044519  0.177840  0.261145 -0.143276      -0.394650
1 -0.293803  0.279798 -0.145362 -0.252773  0.035764       1.976514
2 -0.087330 -0.156114 -0.542628  0.039566 -0.153029       0.680800
3 -0.053502  0.252405 -0.657488 -0.827136  0.849573      -0.130191
4 -1.632653  1.488901  0.566797 -0.010016  0.146793      -0.390168

[5 rows x 30 columns]
0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

4. 학습 데이터와 테스트 데이터 분할

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)
print(y_train.value_counts())
print(y_test.value_counts())
print(y_train.value_counts(normalize=True))
print(y_test.value_counts(normalize=True))

Class
0    7999
1     394
Name: count, dtype: int64
Class
0    2001
1      98
Name: count, dtype: int64
Class
0    0.953056
1    0.046944
Name: proportion, dtype: float64
Class
0    0.953311
1    0.046689
Name: proportion, dtype: float64

5. SMOTE 적용

In [60]:
"""
SMOTE 적용
학습 데이터(X_train)에 SMOTE를 적용하여 소수 클래스(사기 거래)를
오버샘플링하시오. (왜 SMOTE를 적용해야하는지까지 서술하시오.)
SMOTE 적용 전후의 사기 거래 건수를 출력하시오
.
"""

from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42)
X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)
print("Before SMOTE:")
print(y_train.value_counts())
print("After SMOTE:")
print(y_train_smote.value_counts())

Before SMOTE:
Class
0    7999
1     394
Name: count, dtype: int64
After SMOTE:
Class
0    7999
1    7999
Name: count, dtype: int64

6. 모델 학습

In [61]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, average_precision_score
model = RandomForestClassifier(random_state=42)
model.fit(X_train_smote, y_train_smote)
y_pred = model.predict(X_test)
y_proba = model.predict_proba(X_test)[:, 1]
print(classification_report(y_test, y_pred))
pr_auc = average_precision_score(y_test, y_proba)
print(f"PR-AUC: {pr_auc:.4f}")

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      2001
           1       0.95      0.89      0.92        98

    accuracy                           0.99      2099
   macro avg       0.97      0.94      0.96      2099
weighted avg       0.99      0.99      0.99      2099

PR-AUC: 0.9538

7. 최종 성능 평가

In [62]:
report = classification_report(y_test, y_pred, output_dict=True)
recall_0 = report['0']['recall']
recall_1 = report['1']['recall']
f1_0 = report['0']['f1-score']
f1_1 = report['1']['f1-score']
pr_auc = average_precision_score(y_test, y_proba)
print(f"Class 0 - Recall: {recall_0:.4f}, F1-score: {f1_0:.4f}")
print(f"Class 1 - Recall: {recall_1:.4f}, F1-score: {f1_1:.4f}")
print(f"PR-AUC: {pr_auc:.4f}")

if recall_0 >= 0.80 and recall_1 >= 0.80 and f1_0 >= 0.88 and f1_1 >= 0.88 and pr_auc >= 0.90:
    print("목표 성능 달성")
else:
    print("목표 성능 미달성")

Class 0 - Recall: 0.9975, F1-score: 0.9960
Class 1 - Recall: 0.8878, F1-score: 0.9158
PR-AUC: 0.9538
목표 성능 달성